.details_main {
  margin-top: 0.5rem;
}
.details_content {
  background-color: #fff;
  padding: 0.3rem;
  border-radius: 0.3rem;
  border-bottom: 1px solid #eee;
  &-breadcrumb {
    background: #e6f7ff;
    padding: 0.5rem;
  }
  &-title {
    font-size: 1.4rem;
    text-align: center;
    padding: 1rem;
  }
  &-icon {
    text-align: center;
    padding: 0.5rem 0;
    color: #cccccc;
    span {
      margin: 0 0.5rem;
    }
  }
  &-markdown {
    padding: 0 2rem;
  }
}
.details_right {
  margin-left: 0.5rem;
  border-bottom: 1px solid #eee;
}
