.home-title {
  font-size: 1.3rem;
  color: #1e90ff;
  padding: 0 0.5rem;
}
.home-context {
  color: #777;
  padding: 0.5rem;
  &_more {
    text-align: right;
    color: #1890ff;
  }
}
.home-icon {
  padding: 0.5rem 0;
  color: #aaa;
  span {
    display: inline-block;
    padding: 0 10px;
  }
}

.home-left {
  background-color: #fff;
  padding: 0.3rem;
  border-radius: 0.3rem;
  border-bottom: 1px solid #eee;
}
.home-right {
  margin-left: 0.5rem;

  border-bottom: 1px solid #eee;
}
.home-main {
  margin-top: 0.5rem;
}
